.alert.alert-success ng-controller="AuthCtrl" ng-show="flash.getMessage()"
  span ng-bind="flash.getMessage()"
  button.close type="button" data-dismiss="alert" aria-label="Close"
    span aria-hidden="true" &times;