@import "bootstrap-sprockets";
@import "bootstrap";
@import "projects";
@import "angular-material";

.rails-errors {
  color: red;
  font-size: 12px;
}

.glyphicon {
  cursor: pointer;
}

.glyphicon:hover {
  opacity: 0.6;
}

.error {
  color: red;
  margin: -12px 0 10 0;
}

.nav-tabs {
  margin-bottom: 20px;
}

/*
.project.ng-enter,
.project.ng-leave {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

.project.ng-enter,
.project.ng-leave.ng-leave-active {
  opacity:0;
}
.project.ng-leave,
.project.ng-enter.ng-enter-active {
  opacity:1;
}
*/