@import "bootstrap-sprockets";
@import "bootstrap";
@import "projects";
@import "comments";
@import "angular-material";

.rails-errors {
  color: red;
  font-size: 12px;
}

.glyphicon {
  cursor: pointer;
}

.glyphicon:hover {
  opacity: 0.6;
}

.error {
  color: red;
  margin: -12px 0 10 0;
}

.nav-tabs {
  margin-bottom: 20px;
}