.glyphicon {
  padding: 5px;
}

form {
  margin: 0;
}

p.list-group-item-heading {
  padding: 5px;
  position: relative;
  top: -3px;
  display: inline-block;
  width: 95%;
}

.task:hover {
  background-color: #fcfed5;
  cursor: pointer;
}
