.glyphicon {
  padding: 5px;
}

form {
  margin: 0;
}

span.list-group-item-heading {
  padding: 5px;
  position: relative;
  top: -3px;
}

.task:hover {
  background-color: #fcfed5;
  cursor: pointer;
}

